<?xml version="1.0" encoding="UTF-8"?>
<module rename-to='_app'>
$config.gwtModules: { module |     <inherits name="$module$"/>}$
    <stylesheet src="$config.stylesheet$"/>
    <entry-point class="$config.entryPoint$"/>
    <set-property name="gwt.logging.simpleRemoteHandler" value="$if(config.loggingEnabled)$ENABLED$else$DISABLED$endif$"/>
    <set-property name="gwt.logging.developmentModeHandler" value="$if(config.loggingEnabled)$ENABLED$else$DISABLED$endif$"/>
    <set-property name="gwt.logging.consoleHandler" value="$if(config.loggingEnabled)$ENABLED$else$DISABLED$endif$"/>
</module>
